@model shop.Models.Category
@{
    Layout = "_CashierLayout";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-list"></i>اضافة صنــــــــف</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        @if (TempData.ContainsKey("Message"))
        {
            @if (TempData["MessageState"].ToString() == "1")
            {
                                                                                                        <div class="alert-success " style="text-align: right;font-size: larger;"><h2> @TempData["Message"] </h2></div>
            }
            else
            {
                                                                                                        <div class="alert-danger " style="text-align: right;font-size: larger;"> @TempData["Message"] </div>
            }
        }
        <div class="row">
            <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @* <form asp-action="Create" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><i class="fas fa-envelope"></i></span>
</div>
<input type="email" class="form-control" placeholder="Email">
</div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="Name" class="form-control has-feedback-left" placeholder=" اسم الصنــــف">
                                    <span asp-validation-for="Name" class="right text-danger"></span>
                                    <span class="fa fa-medkit form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="Describtion" class="form-control has-feedback-left" placeholder="الوصـــف">
                                    <span asp-validation-for="Name" class="right text-danger"></span>
                                    <span class="fa fa-map form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <button type="submit" value="Create" class="btn btn-success" style="float:right">حفــــــــظ</button>
                                    <a asp-action="Index" class="btn btn-primary " style="float:right"> الغـــــــاء </a>

                                </div>
                            </div>
                        </form>*@
                        <form class="form-horizontal" asp-action="Create" id="demo-form2" data-parsley-validate>
<div class="card-body">
                                @*<div class="form-group row">
<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
<div class="col-sm-10">
<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
</div>
</div>*@
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><i class="fa fa-medkit"></i></span>
</div>
<input  class="form-control"  asp-for="Name"  placeholder=" اسم الصنــــف">
<span asp-validation-for="Name" class="right text-danger"></span>
</div>
                                @*<div class="form-group row">
<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
<div class="col-sm-10">
<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
</div>
</div>*@
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><i class="fa fa-map"></i></span>
</div>
<input  asp-for="Describtion" class="form-control has-feedback-left" placeholder="الوصـــف">
<span asp-validation-for="Describtion" class="right text-danger"></span>
</div>


</div>

<div class="card-footer">
<button type="submit" value="Create" class="btn btn-info">حفــــــــظ</button>
<a asp-action="Index"  class="btn btn-default float-right">الغـــــــاء</a>
</div>

</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>