@model shop.Models.Product
@inject SalesManagerDBContext DB
@{
    Layout = "_CashierLayout";
    ViewData["Title"] = "Create";
    var Cats = DB.Categories.ToList();
    var Sups = DB.Suppliers.ToList();

}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4><i class="fa fa-shopping-cart"></i> اضافة منتج </h4>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_panel">
            <div class="x_title">
                <h2> </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-action="Create" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="row">
                        <!-- <div class="col-md-4 col-sm-4">
                          <input type="text" class="form-control has-feedback-left" placeholder="Medicine Code">
                          <span class="fa fa-medkit form-control-feedback left" aria-hidden="true"></span>
                        </div> -->
                        <div class="col-md-4 col-sm-4">
                            <select class="form-control">
                                @if(Cats != null)
                                {
                                    <option value=@null>بدون صنـــــــف </option>
                                    foreach(var Cat in Cats)
                                    {
                                        <option value="@Cat.Id">@Cat.Name  </option>
                                    }
                                }
                            </select>
                            
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <select class="form-control">
                                @if (Sups != null)
                                {
                                    <option value=@null> بدون مــــورد </option>
                                    foreach (var Sup in Sups)
                                    {
                                        <option value="@Sup.Id">@Sup.Name  </option>
                                    }
                                }
                            </select>                            
                        </div><br><br><br>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="Name" class="form-control has-feedback-left" placeholder="اسم المنتج" >
                            <span asp-validation-for="Name" class="right text-danger"></span>
                            <span class="fa  fa-shopping-cart form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="Quantity" class="form-control has-feedback-left" placeholder="كمية المنتج">
                            <span asp-validation-for="Quantity" class="right text-danger"></span>
                            <span class="fa  fa-shopping-cart form-control-feedback left" aria-hidden="true"></span>
                        </div><br><br><br>

                        @*<div class="col-md-12 col-sm-12">
                            <textarea asp-for="" class="form-control" placeholder=" وصف المنتج"></textarea>
                        </div><br><br><br><br>*@


                        <div class="col-md-4 col-sm-4">
                            <input asp-for="Price" class="form-control has-feedback-left" placeholder="سعــــر المنتج">
                            <span asp-validation-for="Price" class="right text-danger"></span>
                            <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input asp-for="Unit" class="form-control has-feedback-left" placeholder="وحدة المنتج">
                            <span asp-validation-for="Price" class="right text-danger"></span>
                            <span class="fa fa-balance-scale form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="date" class="form-control has-feedback-left" >

                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div><br><br><br>
                        <div class="col-md-12 col-sm-12">
                            <input type="file" class="form-control has-feedback-left" placeholder="Retail Price">
                            <span class="fa fa-image form-control-feedback left" aria-hidden="true"></span>
                        </div><br><br><br>
                        <div class="col-md-12 col-sm-12 ">
                            <button type="submit" value="Create" class="btn btn-success" style="float:right">حفــــــــظ</button>
                            <a asp-action="Index" class="btn btn-primary " style="float:right"> الغـــــــاء </a>
                                
                            

                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

















