@model shop.Models.Customer

@{
    Layout = "_CashierLayout";
    ViewData["Title"] = "Create";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><i class="fa fa-user-plus"></i>  اضافة زبون</h3>
            </div>
        </div>

        <div class="clearfix"></div>
        @if (TempData.ContainsKey("Message"))
        {
            @if (TempData["MessageState"].ToString() == "1")
            {
                <div class="alert-success " style="text-align: right;font-size: larger;"><h2> @TempData["Message"] </h2></div>
            }
            else
            {
                <div class="alert-danger " style="text-align: right;font-size: larger;"> @TempData["Message"] </div>
            }
        }
        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Create" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label style="float:right"><i class="fa fa-user"></i> معلومــــات المورد </label>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="Name" class="form-control has-feedback-left" placeholder="الاسم الكامل ">
                                    <span asp-validation-for="Name" class="right text-danger"></span>
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="Phone" class="form-control has-feedback-left" placeholder="رقم الهاتف">
                                    <span asp-validation-for="Phone" class="right text-danger"></span>

                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="Email" class="form-control has-feedback-left" placeholder="الايميل">
                                    <span asp-validation-for="Email" class="right text-danger"></span>

                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label style="float:right"><i class="fa fa-key"></i>  معلومــــات الحســــــــاب</label>
                                </div>
                            </div>
                            @*<div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <input asp-for="UserName" class="form-control has-feedback-left" placeholder="رقم الحساب">
                                    <span asp-validation-for="UserName" class="right text-danger"></span>

                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>*@

                           
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <label style="float:right"><i class="fa fa-key"></i>  حالــــة الحســــــــاب</label>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-2 col-sm-2       label-align"> تنششيط الحساب</label>

                                <div class="col-md-2 col-sm-2 offset-md-2">
                                    <select asp-for="State" class="form-control has-feedback-left">
                                        <option value="@Boolean.FalseString">تعطيـــــــــل </option>
                                        <option value="@Boolean.TrueString">تفعيـــــــــل</option>
                                    </select>
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            

                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <button style="float:right" type="submit" class="btn btn-success">حفــــــــظ</button>
                                    <a asp-action="Index" style="float:right" class="btn btn-primary"> الغـــــــاء</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















